<!DOCTYPE html>
<html>

<head>
    <!-- ... -->
    <link href="_content/Z.Blazor.Diagrams/style.min.css" rel="stylesheet" />
    <!-- If you want the default style -->
    <link href="_content/Z.Blazor.Diagrams/default.styles.min.css" rel="stylesheet" />
</head>

<body>
    <!-- ... -->
    <script src="_content/Z.Blazor.Diagrams/script.min.js"></script>
</body>

</html>